* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../back.jpg);
    background-size: cover;
    background-position: center;
  }
  
  header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  ul {
    font-family: Century, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 28px;
  }
  
  ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  ul li:last-child {
    margin-right: 0;
  }
  
  ul li a {
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
  }
  
  ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  
  .title {
    text-align: center;
    margin-top: 10px;
    color: #0c0c0c;
  }
  
  .head {
    margin-top: 20px;
    font-size: 70px;
  }
  
  .paragraph {
    font-size: 30px; /* Adjust the font size as needed */
    color: #fafafa;
  }
  
  /* styles.css */
  .imageContent{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .imagesCard {
    display: flex;
    padding: 30px;
    border-radius: 10px ;
    border: 2px solid rgba(255, 255, 255, 0.363);
    backdrop-filter: blur(20px);
    justify-content: center; /* Center images horizontally */
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .image-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  
  .imagesCard p{
    text-align: justify;
  }
  
  
  
  .second {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .second  a {
    font-size: 50px;
    color: rgb(218, 218, 218);
    text-decoration: none;
  }
  .second  a:hover{
    font-weight: 800;
    color: rgb(255, 255, 255);
  }